@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');


body {
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
